[package]
name = "redproof-statements"
version = "0.0.1"
edition = "2021"

[dependencies]
once_cell = { workspace = true }
regex = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
